*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


.Cursor
    pointer-events none
    position fixed
    display block
    border-radius 0
    transform-origin center center
    mix-blend-mode difference
    top 0
    left 0
    z-index 1000
    filter url("#goo")
    span
        position absolute
        display block
        width: 26px
        height 26px
        border-radius 20px
        background-color: white
        transform-origin center center
        transform: translate(-50%, -50%)


.stamp
    position absolute
    right 6vmax
    top 6vmax
    z-index 10
    p
        color #ee3d3d
        font-size 2vmax
        font-family 'Asul', sans-serif
        margin 0
    .circle
        position absolute
        width 1px
        height 1px
        display block
        left 50%
        top 50%
        background-color transparent
        animation rotating 9.5s linear infinite
        span
            font-family: 'Rubik', sans-serif;
            font-weight bold
            font-size 0.8vmax
            color #ee3d3d
            height 5vmax
            position absolute
            display inline-block
            left 0
            bottom 0
            transform-origin: bottom center

for i in (1..28)
    .char{i}
        transform rotate((i*13)deg)

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.line
    position absolute
    background-color #ede8e5

.line-vertical
    @extends .line
    width 2px
    height 100%
    top 0

.line-horizontal
    @extends .line
    width 100%
    height 2px
    left 0


.lines
    position absolute
    width 100%
    height 100%
    left 0
    top 0
    z-index 2
    .line1
        @extends .line-horizontal
        top 36vh

    .line2
        @extends .line-horizontal
        top 64vh

    .line3
        @extends .line-vertical
        left 22vw

    .line4
        @extends .line-vertical
        left 78vw

    .line5
        @extends .line-vertical
        left 50vw



.design
    position absolute
    left 10px
    top 10px
    z-index 5
    color black
    font-family: 'Work Sans', sans-serif;
    font-size 10px
    a
        color black
